@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 88% 94%;
    --foreground: 24 46% 24%;

    --card: 45 88% 94%;
    --card-foreground: 24 46% 24%;

    --popover: 45 88% 94%;
    --popover-foreground: 24 46% 24%;

    --primary: 25 74% 31%;
    --primary-foreground: 45 88% 98%;

    --secondary: 45 50% 88%;
    --secondary-foreground: 24 46% 24%;

    --muted: 45 50% 88%;
    --muted-foreground: 25 30% 45%;

    --accent: 25 74% 31%;
    --accent-foreground: 45 88% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 45 50% 85%;
    --input: 45 50% 85%;
    --ring: 25 74% 31%;

    --radius: 0.3rem;

    --font-heading: "Lora", serif;
    --font-body: "Inter", sans-serif;
  }

  .dark {
    --background: 24 46% 15%;
    --foreground: 45 88% 94%;

    --card: 24 46% 15%;
    --card-foreground: 45 88% 94%;

    --popover: 24 46% 15%;
    --popover-foreground: 45 88% 94%;

    --primary: 45 88% 94%;
    --primary-foreground: 24 46% 15%;

    --secondary: 24 46% 22%;
    --secondary-foreground: 45 88% 94%;

    --muted: 24 46% 22%;
    --muted-foreground: 45 50% 85%;

    --accent: 25 74% 40%;
    --accent-foreground: 45 88% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 24 46% 22%;
    --input: 24 46% 22%;
    --ring: 25 74% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body; /* Apply body font by default */
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading; /* Apply heading font to heading elements */
  }
}